<table class="form-table formset-item {{ item_class|default:'' }}">
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {% for field in form.visible_fields %}
        {% if field.name != "DELETE" %}
            {% include "components/forms/form_field_row.html" with field=field %}
        {% endif %}
    {% endfor %}
    {% if form.DELETE %}
        <tr class="form-field-row form-check form-check-delete">
            <td>
                <label for="{{ form.DELETE.id_for_label }}">Remover</label>
            </td>
            <td>{{ form.DELETE }}</td>
        </tr>
    {% endif %}
</table>
<hr class="inside-fieldset">
