{% extends 'blog/pages/base.html' %}
{% load csp %}
{% load static %}

{% block head-meta %}
<meta name="robots" content="noindex, nofollow" />
{% endblock %}

{% block head-css %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/reader/edit.css' %}"
    media="all"
/>
{% endblock %}

{% block content %}
<div class="text-center edit-user-display">
    <h1 class="edit-user">
        Editando o usuário<br />
        <span>{{ request.user.reader.reader_name|default:request.user.username }}</span>.
    </h1>
</div>

<div class="display-message-error">
    {% if messages %}
        {% for message in messages %}
            <span class="text-error-message">{{ message }}</span>
        {% endfor %}
    {% endif %}
</div>

<div>
    <div class="row text-center" id="main-form-div">
        <form
            class="edit-form"
            action=""
            method="POST"
            enctype="multipart/form-data"
        >{% csrf_token %}
            <hr />
            <fieldset class="reader-form">
                <h2>Dados da conta</h2>
                {% include "components/forms/form_errors.html" with form=user_form %}
                {% include "components/forms/form_errors.html" with form=reader_form %}
                {% include "components/forms/form_table.html" with form=user_form %}
                {% include "components/forms/form_table.html" with form=reader_form %}
                <hr />
            </fieldset>

            <button type="submit" class="btn btn-primary w-100 save-button">
                Salvar
            </button>
        </form>

        {% if not request.user.is_staff %}
        <p class="reader-author-upgrade mt-4">
            <a href="{% url 'author-upgrade' %}" class="btn btn-outline-secondary w-100">
                Solicitar perfil de autor
            </a>
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script
    nonce="{{ request.csp_nonce }}"
    src="{% static 'scripts/components/buttonSave.js' %}"
></script>
{% endblock %}
