{% extends 'blog/pages/base.html' %}
{% load csp %}
{% load static %}

{% block head-css %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/reader/edit.css' %}"
    media="all"
/>
{% endblock %}

{% block content %}
<div class="row text-center edit-user-display">
    <p class="edit-user">
        Editando o usuário<br />
        <span>{{ request.user.reader.reader_name|default:request.user.username }}</span>.
    </p>
</div>

<div class="display-message-error">
    {% if messages %}
        {% for message in messages %}
            <span class="text-error-message">{{ message }}</span>
        {% endfor %}
    {% endif %}
</div>

<div>
    <div class="row text-center" id="main-form-div">
        <form
            class="edit-form"
            action=""
            method="POST"
            enctype="multipart/form-data"
        >{% csrf_token %}
            <fieldset class="reader-form">
                <h2 class="visually-hidden">Dados da conta</h2>
                {% include "components/author-edit/form_errors.html" with form=user_form %}
                {% include "components/author-edit/form_errors.html" with form=reader_form %}
                <table class="form-table">
                    {% for field in user_form %}
                        <tr>
                            <td>
                                <label for="{{ field.id_for_label }}">
                                    {{ field.label }}
                                </label>
                            </td>
                            <td>
                                {{ field }}
                                {% if field.errors %}
                                    <ul class="form-errors list-unstyled text-error-message">
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% for field in reader_form %}
                        <tr>
                            <td>
                                <label for="{{ field.id_for_label }}">
                                    {{ field.label }}
                                </label>
                            </td>
                            <td>
                                {{ field }}
                                {% if field.errors %}
                                    <ul class="form-errors list-unstyled text-error-message">
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </fieldset>

            <button type="submit" class="btn btn-primary w-100 save-button">
                Salvar
            </button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script
    nonce="{{ request.csp_nonce }}"
    src="{% static 'scripts/components/buttonSave.js' %}"
></script>
{% endblock %}
