# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.python_history

# =========================
# Virtual Environment
# =========================
venv/
.venv/
env/
ENV/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example
.bash_history

# =========================
# Django
# =========================
db.sqlite3
*.sqlite3
media/
static/
staticfiles/

# =========================
# Logs
# =========================
*.log

# =========================
# Testing / Coverage
# =========================
.coverage
coverage.xml
reports/coverage/
htmlcov/
.pytest_cache/
.cache/
.config/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo
.continue*
.continue/
.gemini*
.gemini/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Project Specific
# =========================
BACKLOG.txt
backlog-golive.txt
tree.txt
requirements-bkp.txt
fix_imports.py
fix_reader_model_tests.py
fix_templatetags_test.py
fix_tests.py
run_manage_py_with_test.py
blog-model.code-workspace

# =========================
# Misc
# =========================
core
.st*/
