asgiref=*
certifi=*
charset-normalizer=*
click=*
defusedxml=*
Django=*
django-bootstrap=*
django-csp=*
django-phonenumber-field=*
genbadge=*
idna=*
iniconfig=*
isort=*
mccabe=*
mypy_extensions=*
packaging=*
pathspec=*
phonenumberslite=*
pillow=*
platformdirs=*
pluggy=*
pycodestyle=*
pyflakes=*
Pygments=*
requests=*
setuptools=*
sqlparse=*
typing_extensions=*
tzdata=*
urllib3=*
bleach=*
argon2-cffi=*
