asgiref==3.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
defusedxml==0.7.1
Django==5.0.3
django-bootstrap==0.2.4
django-csp==4.0
django-phonenumber-field==7.3.0
genbadge==1.1.1
idna==3.7
iniconfig==2.1.0
isort==6.0.1
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
phonenumberslite==8.13.34
pillow==10.2.0
platformdirs==4.4.0
pluggy==1.6.0
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.19.2
requests==2.31.0
setuptools==80.9.0
sqlparse==0.4.4
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
bleach==6.0.0
argon2-cffi==23.1.0
