{% extends 'blog/pages/base.html' %}
{% load static %}
{% block head-meta %}
<meta name="robots" content="noindex, nofollow" />
{% endblock %}
{% block head-css %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/user/login.css' %}"
    media="all"
/>
{% endblock %}
{% block content %}
<div class="column login-div">
    <h1>Entre com sua conta</h1>
    <div height="40" class="messages">
        {% for message in messages %}
        <div {% if message.tags %} class="message-{{ message.tags }}" {% endif %}>
            {{ message }}
        </div>
        {% endfor %}
    </div>

    {% if not remember %}
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset>
            <div class="form-fieldset">
                {% for f in form %}
                <div class="form-field">
                    {% if forloop.counter == 2 %}
                    <label for="{{ f.label.lower }}">{{ f.label }}</label>
                    <div class="password-field">
                        {{ f }}
                        <button
                            class="show-hide-btn"
                            type="button"
                            data-hide-icon="{% static 'img/icons/hide.png' %}"
                            data-view-icon="{% static 'img/icons/view.png' %}"
                        >
                            <img src="{% static 'img/icons/hide.png' %}" alt="Mostrar senha" />
                        </button>
                    </div>
                    {% else %}
                    <label for="{{ f.label.lower }}">{{ f.label }}</label>
                    {{ f }}
                    {% endif %}
                </div>
                {% endfor %}
                <button class="btn btn-primary mt-4 btn-entry" type="submit">
                    Entrar
                </button>
            </div>

            {% if remember_mode == "username" %}
                <input type="hidden" name="remember" value="1" />
                <input type="hidden" name="remember_mode" value="username" />
                <button type="submit" class="bt-remember">
                    Não lembro meu email.
                </button>
            {% elif remember_mode == "email" %}
                <input type="hidden" name="remember" value="1" />
                <input type="hidden" name="remember_mode" value="email" />
                <button type="submit" class="bt-remember">
                    Não lembro meu usuário.
                </button>
            {% endif %}
        </fieldset>
    </form>
    {% else %}
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="remember">
            <input type="hidden" name="remember" value="1" />
            <input type="hidden" name="remember_mode" value="{{ remember_mode }}" />
            <div>
                {% if remember_mode == "email" %}
                <label for="recovery_value">Email: </label>
                <input
                    type="email"
                    name="recovery_value"
                    id="recovery_value"
                    placeholder="Digite o email cadastrado."
                />
                {% else %}
                <label for="recovery_value">Usuário: </label>
                <input
                    type="text"
                    name="recovery_value"
                    id="recovery_value"
                    placeholder="Digite o usuário cadastrado."
                />
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary mt-4">
                Lembrar
            </button>
        </fieldset>
    </form>
    {% endif %}
</div>

{% include "components/user/google_signin.html" %}
{% endblock %}

{% block scripts %}
{% if GOOGLE_OAUTH_ENABLED %}
<script src="https://accounts.google.com/gsi/client" async defer></script>
{% endif %}
<script src="{% static 'scripts/components/buttonShowHide.js' %}"></script>
{% endblock %}
