{% extends 'blog/pages/base.html' %}
{% load csp %}
{% load static %}

{% block head-meta %}
<meta name="robots" content="noindex, nofollow" />
{% endblock %}

{% block head-css %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/author/edit.css' %}"
    media="all"
/>
{% endblock %}

{% block content %}
<div class="text-center edit-user-display">
    <h1 class="edit-user">
        Editando o usuário<br />
        <span>{{ request.user.author.author_name }}</span>.
    </h1>
</div>

<div class="display-message-error">
    {% if messages %}
        {% for message in messages %}
            <span class="text-error-message">{{ message }}</span>
        {% endfor %}
    {% endif %}
</div>

<div>
    <div class="row text-center" id="main-form-div">
        <form
            class="edit-form"
            action=""
            method="POST"
            enctype="multipart/form-data"
        >{% csrf_token %}
            <hr>
            <fieldset class="author-form">
                <h2>Dados da conta</h2>
                {% include "components/forms/form_errors.html" with form=user_form %}
                {% include "components/forms/form_table.html" with form=user_form %}
                {% include "components/forms/form_table.html" with form=author_form %}
                <hr />
            </fieldset>

            {% include "components/forms/formset_section.html" with fieldset_class="social-media" prefix="social" title="Redes Sociais" formset=social_formset list_class="social-list" template_id="social-empty-template" add_button_id="add-social" item_class="social-item" add_button_class="social-button-plus" %}

            {% include "components/forms/formset_section.html" with fieldset_class="jobs" prefix="job" title="Experiência Profissional" formset=job_formset list_class="job-list" template_id="job-empty-template" add_button_id="add-job" item_class="job-item" add_button_class="job-button-plus" %}

            {% include "components/forms/formset_section.html" with fieldset_class="graduations" prefix="graduation" title="Tipo de Formação" formset=graduation_formset list_class="graduation-list" template_id="graduation-empty-template" add_button_id="add-graduation" item_class="graduation-item" add_button_class="graduation-button-plus" %}

            <button type="submit" class="btn btn-primary w-100 save-button">
                Salvar
            </button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script
    nonce="{{ request.csp_nonce }}"
    src="{% static 'scripts/forms/formset-dynamic.js' %}"
></script>
<script
    nonce="{{ request.csp_nonce }}"
    src="{% static 'scripts/forms/author-edit-formsets.js' %}"
></script>
<script
    nonce="{{ request.csp_nonce }}"
    src="{% static 'scripts/components/buttonSave.js' %}"
></script>
{% endblock %}
