{% extends 'blog/pages/base.html' %}
{% load csp %}
{% load static %}

{% block head-css %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static './css/edit-author-page.css' %}"
    media="all"
/>
{% endblock %}

{% block content %}
<div class="row text-center edit-user-display">
    <p class="edit-user">
        Editando o usuário<br />
        <span>{{ request.user.author.author_name }}</span>.
    </p>
</div>

<div class="display-message-error">
    {% if messages %} {% for message in messages %}
        <span class="text-error-message">{{ message }}</span>
    {% endfor %} {% endif %}
</div>

<div>
  <div class="row text-center" id="main-form-div">
        <form
            class="edit-form"
            action=""
            method="POST"
            enctype="multipart/form-data"
        >{% csrf_token %}
            <fieldset class="author-form">
                <table class="form-table">
                    {% for form in userForm %}
                        <tr>
                            <td>
                                <label for="username">
                                    {{ form.label }}
                                </label>
                            </td>
                            <td>
                                {{ form }}
                            </td>
                        </tr>
                    {% endfor %}
                    {% for form in authorForm %}
                        <tr>
                            <td>
                                <label for="{{ form.label.lower }}">
                                    {{ form.label }}
                                </label>
                            </td>
                            <td>
                                {{ form }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <hr />
            </fieldset>

            <fieldset class="social-media">
                <h2>Redes Sociais</h2>
                
                {{ social_formset.management_form }}
                <template id="social-empty-template">
                    <table class="form-table social-item select-wrapper">
                        {{ social_formset.empty_form.as_table }}
                    </table>
                    <hr />
                </template>

                <div class="social-list">
                {% for sform in social_formset %}
                    <table class="form-table social-item select-wrapper">
                        {{ sform.id }}
                        <tr>
                            <td>
                                {{ sform.social_media.label_tag }}
                            </td>
                            <td>
                                {{ sform.social_media }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                {{ sform.social_media_profile.label_tag }}
                            </td>
                            <td>
                                {{ sform.social_media_profile }}
                            </td>
                        </tr>

                        {% if sform.DELETE %}
                        <tr class="form-check">
                            <td>
                                <label for="{{ sform.DELETE.id_for_label }}">
                                    Remover
                                </label>
                                {{ sform.DELETE }}
                            </td>
                        </tr>
                        {% endif %}
                    </table>
                    <hr />
                {% endfor %}
                </div>

                <button
                    type="button"
                    id="add-social"
                    class="social-button-plus w-100 btn btn-primary"
                >
                    +
                </button>
            </fieldset>

            <fieldset class="jobs">
                <h2>Experiência Profissional</h2>

                {{ job_formset.management_form }}
                <template id="job-empty-template">
                    <table class="form-table job-item select-wrapper">
                        {{ job_formset.empty_form.as_table }}
                    </table>
                    <hr />
                </template>

                <div class="job-list">
                {% for jform in job_formset %}
                    <table class="form-table job-item select-wrapper">
                        {{ jform.id }}
                        <tr>
                            <td>
                                {{ jform.occupation.label_tag }}
                            </td>
                            <td>
                                {{ jform.occupation }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                {{ jform.month_begin.label_tag }}
                            </td>
                            <td>
                                {{ jform.month_begin }}
                                {{ jform.year_begin }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                {{ jform.month_end.label_tag }}
                            </td>
                            <td>
                                {{ jform.month_end }}
                                {{ jform.year_end }}
                            </td>
                        </tr>

                        <tr class="form-check">
                            <td>
                                {{ jform.current_job.label_tag }}
                                {{ jform.current_job }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                {{ jform.roles_description.label_tag }}
                            </td>
                            <td>
                                {{ jform.roles_description }}
                            </td>
                        </tr>

                        {% if jform.DELETE %}
                        <tr class="form-check">
                            <td>
                                <label for="{{ jform.DELETE.id_for_label }}">
                                    Remover
                                </label>
                                {{ jform.DELETE }}
                            </td>
                        </tr>
                        {% endif %}
                    </table>
                    <hr />
                {% endfor %}
                </div>

                <button
                    type="button"
                    id="add-job"
                    class="job-button-plus"
                >
                    +
                </button>
            </fieldset>

            <fieldset class="graduations">
                <h2>Tipo de Formação</h2>

                {# management form obrigatório para o formset #}
                {{ graduation_formset.management_form }}
                    {# template oculto com o empty_form (contém __prefix__) usado pelo JS #}
                    <template id="graduation-empty-template">
                        <table class="form-table graduation-item select-wrapper">
                            {{ graduation_formset.empty_form.as_table }}
                        </table>
                        <hr />
                    </template>

                <div class="graduation-list">
                    {% for gform in graduation_formset %}
                        <table class="form-table graduation-item select-wrapper">
                            {{ gform.id }}
                            <tr>
                                <td>
                                    {{ gform.graduation_level.label_tag }}
                                </td>
                                <td class="wrapper">
                                    {{ gform.graduation_level }}
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    {{ gform.course.label_tag }}
                                </td>
                                <td>
                                    {{ gform.course }}
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    {{ gform.school.label_tag }}
                                </td>
                                <td>
                                    {{ gform.school }}
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    {{ gform.year_graduation.label_tag }}
                                </td>
                                <td>
                                    {{ gform.year_graduation }}
                                </td>
                            </tr>

                            <tr class="form-check">
                                <td>
                                    {{ gform.concluded.label_tag }}
                                    {{ gform.concluded }}
                                </td>
                            </tr>

                            {% if gform.DELETE %}
                            <tr class="form-check">
                                <td>
                                    <label for="{{ gform.DELETE.id_for_label }}">
                                        Remover
                                    </label>
                                    {{ gform.DELETE }}
                                </td>
                            </tr>
                            {% endif %}
                        </table>
                        <hr />
                    {% endfor %}
                </div>

                <button
                    type="button"
                    id="add-graduation"
                    class="graduation-button-plus"
                >
                    +
                </button>
            </fieldset>

            <button
                type="submit"
                class="btn btn-primary w-100 save-button"
            >
                Salvar
            </button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script
    nonce="{{ request.csp_nonce }}"
    src="{% static 'scripts/forms/buttonSocialPlus.js' %}"
></script>

<script
    nonce="{{ request.csp_nonce }}"
    src="{% static 'scripts/forms/buttonGraduationPlus.js' %}"
></script>

<script
    nonce="{{ request.csp_nonce }}"
    src="{% static 'scripts/forms/buttonSave.js' %}"
></script>

<script
    nonce="{{ request.csp_nonce }}"
    src="{% static 'scripts/forms/buttonJobPlus.js' %}"
></script>
{% endblock %}
