{% load static %}
{% for author in authors %}
    <div class="author-presentation-card our-team">
        <div class="author-card-top">
            <!-- Imagem do autor -->
            {% if not author.image %}
            <img src="{% static './img/no-user.jpg' %}" width="100" height="100" />
            {% else %}
            <img src="/media/{{ author.image }}" width="100" height="100" />
            {% endif %}
            <div class="card-top-right">
                <!-- nome do autor H1 -->
                {% if request.path == "/nossa-equipe/" %}
                <a class="author-url" href="{% url 'author' author.author_url_slug %}"><h2 class="author-name-h2">{{ author.author_name }}</h2></a>
                {% else %}
                    <h1 class="author-name-h1">{{ author.author_name }}</h1>
                {% endif %}
            </div>
        </div>

        <!-- Resumo da formaçao do autor -->
        {% load replace_word %}
            {% for graduation in author.graduations.all %}
                {% if not graduation.concluded %}
                    {% for i, level in graduations_level %}
                        {% if graduation.graduation_level == i %}
                        <p>{{ level|replace_word  }} em {{ graduation.course }} na {{ graduation.school }}</p>
                        {% endif %}
                    {% endfor %}
                {% elif forloop.counter == author.graduations.all|length %}
                    <p>
                    {% for i, level in graduations_level %}
                        {% if graduation.graduation_level == i %}
                        {{ level  }} em {{ graduation.course }} na {{ graduation.school }} em {{ graduation.year_graduation }}.
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for i, level in graduations_level %}
                        {% if graduation__graduation_level == i %}
                        {{ level  }} em {{ graduation__course }} na {{ graduation__school }} em {{ graduation__year_graduation }},&nbsp;
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </p>
            {% endfor %}

        {% if request.path != "/nossa-equipe/" %}
        <div class="author-social-media">
            {% for social_media in author.social_media.all %}
                {% for i, social in social_media_index %}
                    {% if social_media.social_media == i %}
                        <a class="{{ social|lower }}" href="{{ social_media.social_media_profile }}"><img src="{% static './img/'|add:social|lower|add:'.png' %}" width="20" height="20"/></a>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endfor %}
