@media screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    a {
        text-decoration: none;
    }
    html {
        overflow-y: scroll;
    }
    body {
        position: absolute;
        background: linear-gradient(0deg, rgba(190, 202, 207, 1), rgba(38, 77, 96, 1)) no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color: #b9b9b9;
        overflow-x: hidden;
        overflow-y: scroll;
        margin: 0 !important;
        padding: 0 0 20vh 0 !important;
    }
    .d-flex {
        position: relative;
        margin-top: calc(4em + 15px);
    }
}