@media screen and (max-width: 768px) {
    * {
        margin: 20px;
        padding: 0;
        box-sizing: border-box;
    }

    html, body {
        background: linear-gradient(0deg, rgb(31, 26, 23), rgb(78, 80, 82)) no-repeat;
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        height: 10rem;
        color: #b9b9b9;
        z-index: 0;
        overflow: hidden;
    }
}