@media screen and (max-width: 768px) {
    .edit-user-display {
        display: flex;
        justify-content: center;
        margin-top: 2vh;
    }
    .edit-user {
        font-size: 1.5em;
        color: #8c8c8c;
        /* width: 60vw; */
    }
    .display-message-error {
        text-align: center;
        height: 2vh;
    }
    .text-error-message {
        color: #ff4f4f;
        background-color: #ff9d9d;
    }
    form {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .reader-form {
        margin-left: 2vw;
        margin-right: 2vw;
        width: 100%;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        display: flex;
        align-items: center;
        padding: 0.5em;
        /* margin-left: 0.2em; */
        border-radius: 1em;
        outline: none;
        border: none;
    }

    .form-table tbody tr {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 90vw;
    }
    .form-table tbody tr:last-child td{
        width: 90vw;
    }
    .form-table tbody tr td label {
        height: 48px;
    }
    .form-table tbody tr td:nth-child(1) {
        width: 20vw;
    }
    .form-table tbody tr td:nth-child(1) label {
        margin: 2vh 0 2vh 0;
    }
    .form-table tbody tr td:nth-child(2) {
        width: 60vw;
    }
}
