@media screen and (max-width: 768px){
    header, .header-container {
        background: linear-gradient(0deg, rgba(190, 202, 207, 1), rgba(38, 77, 96, 1)) no-repeat;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .7);
        width: 100vw;
        height: calc(8vh + 10px);
        display: flex;
        flex-direction: row;
        /*justify-content: space-between;*/
        align-items: center;
        padding-bottom: 10px;
        z-index: 5;
    }
    
    .button-menu-mobile {
        background: none;
        margin: 5px 0 0 5px;
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: none;
        cursor: pointer;
        overflow-x: hidden;
        outline: none;
    }
    
    .button-menu-mobile:focus {
        border: none;
        outline: none;
    }
    
    .button-menu-mobile span {
        width: 40px;
        height: 2px;
        background: #06516b;
        border-radius: 2px;
        overflow-x: hidden;
        transition-delay: 0.125s;
    }
    
    .button-menu-mobile.active span:nth-child(1) {
        width: 40px;
        transform: translateY(15px) rotate(45deg);
        transition-delay: 0.125s;
    }
    
    .button-menu-mobile.active span:nth-child(2) {
        width: 40px;
        transform: translateY(0) rotate(315deg);
        transition-delay: 0.25s;
    }
    
    .button-menu-mobile.active span:nth-child(3) {
        transform: translateX(60px);
        overflow-x: hidden;
    }
    
    .logo-container {
        height: inherit;
        box-shadow: inset 5px 1px 15px rgb(10, 10, 83);
    }
    
    .logo-container a {
        position: absolute;
        margin: 2vh auto 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        height: auto;
    }
    
    .logo-text {
        display: sticky;
        margin-top: -1vh;
        font-size: 12pt;
        font-family: 'Bungee shade', sans-serif;
        color: rgba(255, 255, 255, 1);
        text-shadow: 1px 1px 4px #06516b;
    }
    
    .logo {
        border-radius: 50%;
        box-shadow: 0 6px 10px rgb(10, 10, 83);
    }
    
    #menu-nav, .menu-visible {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        background: linear-gradient(0deg, rgba(190, 202, 207, 1), rgba(38, 77, 96, 1)) no-repeat;
        width: 100%;
        height: 40vh;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .7);
        
    }
    
    #menu-nav {
        top: -250px;
    }
    
    .menu-visible {
        top: 100px;/*calc(8vh + 10px);*/
        /*transition-delay: 0.25s;*/
    }
    
    nav a {
        color: #06516b;
    }
    
    nav a:visited, nav a:active {
        text-decoration: none;
        color: #06516b;
    }
    
    
    
    .search {
        background: #fff;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, .7);
        width: 55vw;
        height: 30px;
        border-radius: 15px 15px 15px 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
    }
    
    .search input {
        background: none;
        border: none;
        width: 85%;
        outline: none;
        margin-left: 10px;
        margin-right: 5px;
    }
    
    .search-btn input:focus {
        border: 0 rgba(255, 255, 255, 0) solid;
    }
    
    .search-btn {
        background: none;
        border: none;
    }
    
    .search-btn img {
        height: 20px;
        margin-right: 12px;
    }
    
    .header-login {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 55vw;
    }
    
    .header-login div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 15px 0 15px 0;
    }
    
    .header-login--img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    
    .menu-link {
        padding: 1vh 0 1vh 0;
        text-align: center;
        width: 100%;
    }
}