@media screen and (max-width: 768px){
    .row {
        margin: 0;
        padding: 0;
    }
    header, .header-container {
        position: fixed;
        background: linear-gradient(0deg, rgba(190, 202, 207, 1), rgba(38, 77, 96, 1)) no-repeat;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .7);
        width: 100vw;
        height: calc(4em + 15px);
        display: flex;
        flex-direction: row;
        align-items: center;
        z-index: 5;
    }
    
    .button-menu-mobile {
        background: none;
        margin: 5px;
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: none;
        cursor: pointer;
        overflow-x: hidden;
        outline: none;
        z-index: 2;
    }
    
    .button-menu-mobile:focus {
        border: none;
        outline: none;
    }
    
    .button-menu-mobile span {
        width: 35px;
        height: 2px;
        background: #06516b;
        border-radius: 2px;
        overflow-x: hidden;
        transition-delay: 0.125s;
    }
    
    .button-menu-mobile.active span:nth-child(1) {
        transform: translateY(16px) rotate(45deg);
        transition-delay: 0.125s;
    }
    
    .button-menu-mobile.active span:nth-child(2) {
        transform: translateY(0) rotate(315deg);
        transition-delay: 0.25s;
    }
    
    .button-menu-mobile.active span:nth-child(3) {
        transform: translateX(-60px);
        transition: 0.35s ease-out;
        overflow-x: hidden;
    }
    
    .button-menu-mobile span:nth-child(1) {
        transform: translateY(0px) rotate(0deg);
        transition-delay: 0.125s;
    }
    
    .button-menu-mobile span:nth-child(2) {
        transform: translateY(0) rotate(0deg);
        transition-delay: 0.25s;
    }
    
    .button-menu-mobile span:nth-child(3) {
        transform: translateX(0px);
        transition: 0.35s ease-in;
        overflow-x: hidden;
    }
    
    .logo-container {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto 0 auto;
        height: inherit;
        box-shadow: inset 0 -25px 25px -25px rgb(10, 10, 83);
    }
    
    /* .logo-container,  */
    .logo-container a {
        position: absolute;
        margin: 0 auto 0 auto;
        padding-top: .7em;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: auto;
        overflow: hidden;
    }
    
    .logo-text {
        display: sticky;
        margin-top: -1vh;
        font-size: 12pt;
        font-family: 'Bungee shade', sans-serif;
        font-weight: 600;
        color: rgb(255, 255, 255);
        text-shadow: 0 1px 2px #06516b;
    }
    
    .logo {
        border-radius: 50%;
        box-shadow: 0 60px 100px 50px rgb(10, 10, 83);
    }
    
    .menu-navigation, .menu-visible {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        background: linear-gradient(0deg, rgba(190, 202, 207, 1), rgba(38, 77, 96, 1)) no-repeat;
        width: 100%;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .7);
        padding-bottom: 20px;
    }
    
    .menu-navigation {
        top: -275px;
        transition: 0.4s ease-out;
    }
    
    .menu-visible {
        transform: translateY(calc(250px + 4em + 15px));
        transition: 0.4s ease-in;
    }
    
    nav a {
        color: #06516b;
    }
    
    nav a:visited, nav a:active {
        text-decoration: none;
        color: #06516b;
    }
    
    .search {
        background: #fff;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, .7);
        width: 55vw;
        height: 30px;
        border-radius: 15px 15px 15px 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
    }
    
    .search input {
        background: none;
        border: none;
        width: 85%;
        outline: none;
        margin-left: 10px;
        margin-right: 5px;
    }
    
    .search-btn input:focus {
        border: 0 rgba(255, 255, 255, 0) solid;
    }
    
    .search-btn {
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        overflow: hidden;
    }
    
    .search-btn img {
        height: 20px;
        margin-right: 12px;
    }
    
    .header-login {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    
    .user-logged {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 15px 0 15px 0;
        border: 1px red solid;
    }
    .not-logged {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 15px 0 15px 0;
    }
    .register {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .header-login--img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    
    .menu-link {
        padding: 1vh 0 1vh 0;
        text-align: center;
        width: 100%;
    }
}