@media screen and (max-width: 768px) {
    .login-div {
        margin-top: 3vh;
        justify-content: center;
    }
    h1 {
        position: relative;
        margin: 20px auto 0 auto;
        text-shadow: 1px 1px rgba(0, 0, 0, .5);
        text-align: center;
        font-weight: 600;
        font-size: 36px;
    }
    .login-div form {
        padding-top: 2vh;
    }
    .login-div form fieldset,
    .login-div form fieldset.remember {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        margin-top: 2vh;
    }
    .form-fieldset {
        color: #b9b9b9;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 20vh;
    }
    label {
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
        margin-bottom: 0;
    }
    .form-field input[type="text"],
    .form-field input[type="password"],
    .form-field input[type= "email"] {
        padding: 0.5em;
        border-radius: 1em;
        outline: none;
        border: none;
        box-shadow: inset 2px 4px 10px rgba(0, 0, 0, 0.5);
    }
    .btn-entry {
        background: rgb(36, 111, 224);
        color: white;
        padding: 4px;
        width: 30vw;
        border-radius: 10px;
        outline: none;
        border: none;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
    }
    .bt-remember {
        margin-top: 2em;
        background: none;
        border: none;
        color: blue;
    }
    .bt-remember:hover {
        margin-top: 2em;
        background: none;
        font-weight: 600;
        text-decoration: underline;
    }
    .messages {
        position: relative;
        margin: 0 auto 2vh auto;
        width: 80vw;
        height: 40px;
    }
    .message-error {
        color: #ff4f4f;
        background-color: #ff9d9d;
        text-align: center;
    }
    .message-success {
        color: olive;
        background-color: #BBB157;
        text-align: center;
    }
    fieldset {
        border: none;
    }
    .form-field {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 2vw;
        align-items: center;
    }
    .form-field:nth-child(2) {
        position: relative;
    }
    .show-hide-btn, .show-hide-btn:focus {
        position: absolute;
        background: none;
        width: 30px;
        outline: none;
        border: none;
        top: 0;
        right: 5px;
        bottom: 5px;
    }
    .show-hide-btn img {
        background: none;
        width: 30px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1080px) {
    fieldset {
        border: none;
    }
    .form-fieldset {
        color: #b9b9b9;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 5vh;
        width: 100%;
        height: 20vh;
    }
    .form-field {
        display: flex;
        flex-direction: row;
        gap: 2vw;
        align-items: center;
        width: 30%;
    }
    label {
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
        margin-bottom: 0;
    }
    .form-field input[type="text"],
    .form-field input[type="password"],
    .form-field input[type= "email"] {
        padding: 0.5em;
        border-radius: 1em;
        outline: none;
        border: none;
        box-shadow: inset 2px 4px 10px rgba(0, 0, 0, 0.5);
    }
    .btn-entry {
        background: rgb(36, 111, 224);
        color: white;
        padding: 4px;
        width: 15vw;
        border-radius: 10px;
        outline: none;
        border: none;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
    }
    .show-hide-btn, .show-hide-btn:focus {
        position: relative;
        background: none;
        width: 25px;
        outline: none;
        border: none;
        top: 2px;
        right: 50px;
        bottom: 5px;
    }
    .show-hide-btn img {
        position: sticky;
        background: none;
        width: 25px;
    }
}

@media screen and (min-width: 1081px) {
    fieldset {
        border: none;
        margin: 0 auto;
        width: 300px;
    }
    .form-fieldset {
        color: #b9b9b9;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 20vh;
    }
    .form-field {
        display: flex;
        flex-direction: row;
        gap: 2vw;
        align-items: center;
        width: 100%;
    }
    label {
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
        margin-bottom: 0;
    }
    .form-field input[type="text"],
    .form-field input[type="password"],
    .form-field input[type= "email"] {
        padding: 0.5em;
        border-radius: 1em;
        outline: none;
        border: none;
        box-shadow: inset 2px 4px 10px rgba(0, 0, 0, 0.5);
    }
    .btn-entry {
        background: rgb(36, 111, 224);
        color: white;
        padding: 4px;
        width: 30%;
        border-radius: 10px;
        outline: none;
        margin: 0 auto;
        border: none;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
    }
    .show-hide-btn, .show-hide-btn:focus {
        position: relative;
        background: none;
        width: 25px;
        outline: none;
        border: none;
        top: 2px;
        right: 70px;
        bottom: 5px;
    }
    .show-hide-btn img {
        background: none;
        width: 25px;
    }
}
