@media screen and (max-width: 768px) {
    .register {
        position: relative;
    }
    .sign-up-login-link {
        position: absolute;
        right: 0;
    }
    h1 {
        position: relative;
        margin: 20px auto 0 auto;
        text-shadow: 1px 1px rgba(0, 0, 0, .5);
        text-align: center;
        font-weight: 600;
        font-size: 36px;
    }
    .main-div {
        text-shadow: 1px 1px rgba(0, 0, 0, .5);
        width: 100%;
    }
    .messages {
        position: relative;
        margin: 0 auto 2vh auto;
        width: 80vw;
        height: 40px;
    }
    .message-error {
        color: #ff4f4f;
        background-color: #ff9d9d;
        text-align: center;
    }
    .message-success {
        color: olive;
        background-color: #BBB157;
        text-align: center;
    }
    .sign-up-wrapper {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    fieldset {
        background: none;
    }
    .aux-screen {
        position: fixed;
        display: flex;
        top: 4em;
        left: 0;
        right: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .form-field {
        padding: 1vh 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.2em;
    }
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"] {
        display: flex;
        align-items: center;
        padding: 0.5em;
        border-radius: 1em;
        outline: none;
        border: none;
    }
    select {
        padding: 0.5em;
        border-radius: 1em;
        outline: none;
        border: none;
    }
    .pass-input {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .show-hide-btn, .show-hide-btn:focus {
        position: absolute;
        background: none;
        width: 30;
        outline: none;
        border: none;
        right: 5px;
    }
    .show-hide-btn img {
        background: none;
        width: 30px;
    }
    .popup-validate {
        color: #000000;
        border-radius: 15px;
        background: #F2E3D5;
        /* padding: 0.3em 0.3em 0.3em 0.3em; */
        text-shadow: none;
        height: 0;
        visibility: hidden;
    }
    .popup-validate p {
        padding-left: 2vw;
    }
    .popup-validate ul li {
        color: red;
        font-size: 12px;
        margin-bottom: 2px;
        height: 24px;
        list-style: none;
    }
    .btn-disabled {
        background-color: #808080 !important;
        border-color: #808080 !important;
    }
}
