{% extends 'base.html' %}
{% load static %}

{% block head-css %}
<link rel="stylesheet" type="text/css" href="{% static './css/sign-up.css' %}" media="all">
{% endblock %}

{% block content %}

<div class="row text-center">
    <h1>Cadastro</h1>
</div>
<div height="40" class="messages">
{% for message in messages %}
    <div {% if message.tags %} class="message-{{ message.tags }}" {% endif %}>
        {{ message }}
    </div> 
{% endfor %}
</div>
<div class="row main-div">
    <div class="sign-up-wrapper">
        <form action="" method="post" accept-charset="utf-8">
            {% csrf_token %}
            
            <fieldset>
                {% if aprovar %}
                <div class="aux-screen">
                    <!-- Aprovação -->
                    
                    <div class="approval" id="approval">
                        <form action="" method="POST" accept-charset="utf-8">{% csrf_token %}
                            <input type="hidden" name="approval" value="1">
                            <div>
                                <label for="super">Administrador</label>
                                <input type="text" id="super" name="super" required>
                            </div>
                            <div>
                                <label for="pass-super">Senha</label>
                                <input type="password"  id="pass-super" name="pass-super" required>
                            </div>
                            <button type="submit" class="btn btn-primary mt-4">Aprovar</button>
                        </form>
                    </div>
                </div>
                {% endif %}
                
                <!-- Tipo de Usuario -->
                
                <div class="form-field">
                    <label for="tipo-user">Tipo de Usuário</label>
                    <select name="tipo-user" id="tipo-user">
                        <option value="reader" selected>Leitor</option>
                        <option value="author">Autor</option>
                    </select>
                </div>

                <!-- Nome -->

                <div class="form-field">
                    {% if aprovar %}
                    <label for="nome" class="label">Nome</label>
                    <input type="text" name="nome" id="nome" value="{{ nome }}" />
                    {% else %}
                    <label for="{{ form.nome.id_for_label }}" class="label">Nome</label>
                    <input type="text" id="{{ form.nome.id_for_label }}" name="nome" class="cadastro-usuario--nome"
                        placeholder="Digite seu nome" />
                    {% endif %}
                </div>
                
                <!-- Email -->
                
                <div class="form-field">

                    {% if aprovar %}
                    <label for="{{ form.email.id_for_label }}" class="label">Email</label>
                    <input type="email" name="email" id="email" value="{{ form.email }}" />
                    {% else %}
                    <label for="{{ form.email.id_for_label }}" class="label">Email</label>
                    <input type="email" name="email" id="{{ form.email.id_for_label }}" placeholder="Digite seu email: " />
                    {% endif %}
                </div>
                
                <!-- Telefone -->
                
                <div class="form-field">

                    {% if aprovar %}
                    <label for="{{ form.phone.id_for_label }}" class="label">Celular:</label>
                    <input type="tel" name="phone" id="{{ form.phone.id_for_label }}" value="{{ form.phone }}" />
                    {% else %}
                    <label for="{{ form.phone.id_for_label }}" class="label">Celular:</label>
                    <input type="tel" name="phone" id="{{ form.phone.id_for_label }}" placeholder="Digite seu celular: " />
                    {% endif %}
                </div>

                <!-- SENHA 1 -->

                {% if aprovar %}
                <div class="form-field">
                    <label for="{{ form.password1.id_for_label }}" class="label">Senha</label>
                    <input type="password" name="password1" id="{{ form.password1.id_for_label }}" value="{{ form.password1 }}" />
                </div>
                {% else %}
                <div class="form-field">
                    <label for="{{ form.password1.id_for_label }}" class="label">Senha</label>
                    <input type="password" name="password1" id="{{ form.password1.id_for_label }}" placeholder="Digite sua Senha" />
                </div>
                {% endif %}

                <!-- SENHA 2 -->

                {% if aprovar %}
                <div class="form-field">
                    <label for="{{ form.password2.id_for_label }}" class="label">Confirme a senha</label>
                    <input type="password" name="password2" id="{{ form.password2.id_for_label }}" value="{{ password }}" />
                </div>
                {% else %}
                <div class="form-field">
                    <label for="{{ form.password2.id_for_label }}" class="label">Confirme a senha</label>
                    <input type="password" name="password2" id="{{ form.password2.id_for_label }}" placeholder="Confirme a senha" />
                </div>
                {% endif %}

                <div class="form-field pt-4">
                    <button type="submit" class="btn btn-primary mt-4" id="finalizar-cadastro">
                        Finalizar Cadastro
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}