{% extends 'blog/pages/base.html' %}
{% load static %}

{% block head-css %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/author/author-page.css' %}"
    media="all"
/>
{% endblock %}

{% block content %}
<main class="our-team-page">
    <h1 class="our-team-title">Nossa equipe</h1>
    <div class="our-team-grid">
        {% for author in authors %}
            {% include "components/card-author/card-author.html" with author=author tag="article" link_author_name=True %}
        {% empty %}
            <p class="our-team-empty">Nenhum autor cadastrado.</p>
        {% endfor %}
    </div>
</main>
{% endblock %}
