{% extends 'base.html' %}
{% load static %}
{% block head-css %}
<link rel="stylesheet" type="text/css" href="{% static './css/edit-author-page.css' %}" media="all" />
{% endblock %}

{% block content %}
<div class="row text-center edit-user-display">
    <p class="edit-user">Editando o usuário<br><span>{{ request.user.author.author_name }}</span>.</p>
</div>
<div class="display-message-error">
    {% if messages %}
        {% for message in messages %}
        <span class="text-error-message">{{ message }}</span>
        {% endfor %}
    {% endif %}
</div>
<div>
    <div class="row text-center">
        <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <fieldset class="author-form">
                <table class="form-table">

                    {% for form in userForm %}
                        <tr>
                            <td><label for="username">Nome do Usuário</label></td>
                            <td>{{ form }}</td>
                        </tr>
                    {% endfor %}
                    {% for form in authorForm %}
                    <tr>
                        <td><label for="{{ form.label.lower }}">{{ form.label }}</label></td>
                        <td>{{ form }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <hr>
                <table class="form-table form-table-social">
                    <th colspan="2">Redes Sociais</th>
                    {% for social in socialForms %}
                    <tr>
                        <td>
                            <label for="{{ social.social_media.label.lower }}">{{ social.social_media.label }}</label>
                        </td>
                        <td>
                            <select name="{{ social.social_media.html_name }}" id="{{ social.social_media.id_for_label }}">
                                {% for value, media in social.social_media.field.choices %}
                                    {% if social.social_media.value == value %}
                                    <option value="{{ value }}" selected>{{ media }}</option>
                                    {% elif forloop.counter <= socialForms|length and value != social.social_media.value %}
                                    <option value="{{ value }}" disabled>{{ media }}</option>
                                    {% else %}
                                    <option value="{{ value }}">{{ media }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="{{ social.social_media_profile.label.lower }}">{{ social.social_media_profile.label }}</label>
                        </td> 
                        <td>{{ social.social_media_profile }}</td>
                    </tr>
                    {% endfor %}
                    {% if socialForms|length < 4 %}
                        {% for i in socialEmptyForm.social_media.field.choices %}
                        {% if forloop.counter > socialForms|length %}
                            <tr class="plus-field">
                                <td>
                                    <label for="{{ socialEmptyForm.social_media.label.lower }}">{{ socialEmptyForm.social_media.label }}</label>
                                </td>
                                <td>
                                    <select name="{{ socialEmptyForm.social_media.html_name }}" id="{{ socialEmptyForm.social_media.id_for_label }}">
                                        {% for value, media in socialEmptyForm.social_media.field.choices %}
                                            {% for social in socialForms %}
                                                {% if social.social_media.value == value %}
                                                <option value="{{ value }}" disabled>{{ media }}</option>
                                                {% endif %}
                                            {% endfor %}
                                            {% if forloop.counter > socialForms|length %}
                                                <option value="{{ value }}">{{ media }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            <tr class="plus-field plus-field-last">
                                <td>
                                    <label for="{{ socialEmptyForm.social_media_profile.label.lower }}">{{ socialEmptyForm.social_media_profile.label }}</label>
                                </td> 
                                <td>{{ socialEmptyForm.social_media_profile }}</td>
                            </tr>
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                    <tr class="plus-button-field">
                        <td colspan="2"><button type="button" class="btn btn-primary w-100 social-button-plus">+</button></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-primary w-100 save-button">
                            Salvar
                            </button>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
        {% block scripts %}
        <script src="{% static './scripts/buttonSocialPlus.js' %}"></script>
        {% endblock %}
    </div>
</div>
{% endblock %}