{% extends 'blog/pages/base.html' %}
{% load static %}

{% block head-css %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/author/author-page.css' %}"
    media="all"
/>
{% endblock %}

{% block content %}
<main class="author-profile-page">
    <div class="display-message-success">
        {% if messages %}
            {% for message in messages %}
                <span class="text-success-message">{{ message }}</span>
            {% endfor %}
        {% endif %}
    </div>

    <article class="author-presentation-card author-profile-card">
        {% include "components/card-author/author_profile_header.html" %}

        {% with graduation=author.get_main_graduation job=author.current_job %}
            {% if graduation or job %}
                <div class="author-profile-summary">
                    {% if graduation %}
                        <p class="author-education">{{ graduation.display_text }}</p>
                    {% endif %}
                    {% if job %}
                        <p class="author-job">{{ job.occupation }} na {{ job.company }}</p>
                    {% endif %}
                </div>
            {% endif %}
        {% endwith %}

        {% include "components/card-author/author_biography.html" %}
    </article>
</main>
{% endblock %}
