<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head-meta %}{% endblock %}
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Sixtyfour&display=swap" rel="stylesheet">
        
        {% load static %}
        <link rel="icon" type="image/x-icon" href="{% static '/img/juclops-techxperience-logo.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static './css/base.css' %}" media="all" />
        <link rel="stylesheet" type="text/css" href="{% static './css/header.css' %}" media="all" />
        {% block head-css %}{% endblock %}
        
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body class="container-fluid vh-100">
        <!-- Page's header with menu and login options -->
        <header class="row">
            {% include "header/header.html" %}
        </header>
        
        <div class="d-flex flex-column">

            {% block content %}{% endblock %}

            <footer>
                {% include "footer/footer.html" %}
            </footer>

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
            {% block scripts %}{% endblock %}
        </div>
    </body>
</html>